body{
    font: 16px/1.6em Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container{
   width: 80%;
   margin: auto;
   overflow: hidden;
}

img{
    width: 60px;
}

ul{
    margin: 0;
    padding: 0;
}

/*header*/

header{
    color: #666;
    padding: 40px 0;
    margin-bottom: 30px;
}

header  img{
    padding-top: 80px;
    width: 90px;
}



/*about*/
#about-gdg .container{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 1em;
}

#about-gdg img{
    padding: 75px;
}

#about-gdg h3{
    color: green;
}

/*boxes*/
#boxes .container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
}

#boxes .box{
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#boxes .box .head_1{
    color: dodgerblue;
}

#boxes .box .head_2{
    color: green;
}

#boxes .box .head_3{
    color: maroon;
}

/*link*/
#link-id .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#link-id a{
    background-color: darkgreen;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}

#link-id img{
   width: 100%;
    
}

/*more*/
#more-info .container{
    display: flex;
    justify-content: space-between;
    min-height: 200px;
}

.info{
    flex: 1;
}

 .group-photo{
    flex: 1;
}

.group-photo img{
    padding: 15px;
    width: 430px;
    height: 350px;
}

#more-info li{
    padding-left: 20px;
}

@media(max-width:768px){
    #boxes .container{
        display: block;
        padding: 10px;
    }
    
    #about-gdg .container{
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    #about-gdg .container img{
        align-self: center;
    }

    #more-info .container{
        display: block;
        padding: 10px;
    }
}
